{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
{% endblock %}

<div class="song-add-dropdown position-absolute" style="display: none">
    <div class="dropdown-content">
        <div class="dropdown-item" id="playlist-create">Новый плейлист</div>
        {% for playlist in user.playlists.all %}
            <div class="dropdown-item" id="playlist-{{ playlist.id }}">{{ playlist.name|truncatechars:"24" }}</div>
        {% endfor %}
    </div>
</div>