{% extends 'root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/playlist.css' %}">
{% endblock %}

{% block title %}Профиль пользователя{% endblock %}

{% block content %}
    <div class="w-75" style="font-size: 1.1em;">
        <h4>Основная информация</h4>
        <p>Логин: {{ current_user.username }}</p>
        <p>
            Тип аккаунта:
            «<a href="{% url 'payments:select_premium' %}">{{ current_user.current_premium }}</a>»
        </p>
        <p>
            {% if current_user == user %}
                Публичные плейлисты:
            {% else %}
                Плейлисты:
            {% endif %}
            {% include 'profiles/playlists/playlists.html' with current_user=current_user playlists=public_playlists %}
        </p>

        {% if current_user == user %}
            Приватные плейлисты:
            {% include 'profiles/playlists/playlists.html' with current_user=current_user playlists=private_playlists %}
        {% endif %}

        {% include 'profiles/recommendations/recommendations.html' with songs=recommended_songs %}

        <h3>Похожие пользователи:</h3>
        <div class="similar-users w-100 d-flex justify-content-center align-items-center">
            {% for user in similar_users %}
                <a href="{% url 'profiles:profile' user.pk %}" class="w-75">
                    <div class="song w-100">
                        {{ user }}
                    </div>
                </a>
            {% empty %}
                <p>Нет пользователей, которые похожи на вас</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}